html, body {
    height: 100%;
    width: 100%;
  }

* {
    font-family: Arial, Helvetica, sans-serif;
  }

.errorBorder {
    border-style: dashed;
    border-color: red;
}

.errorText {
    color: red;
    text-decoration: double;
}

p {
    font-size: small;
}